<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net  http://www.springframework.net/schema/objects/spring-objects-1.1.xsd">

	<object name="connectionFactory" type="DrThemShop.WinLibrary.Helper.APIConnectionFactory, DrThemShop.WinLibrary">
		<property name="HostAddress" value="https://localhost:44375" />
	</object>
</objects>